body
{
    background: linear-gradient(darkblue 0%, #34a8eb 50%, lightblue 100%);
}


#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
#label1 {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 3px;
    background-color: purple;
}

#label2 {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 3px;
    background-color: #baf5c7;
}